/* reset default value */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* this is to get the default font size 10px, so that working with REM is easier rather than 16px default font size || math >> (10 / 16) * 100  */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: rgb(216, 226, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: inherit;
    text-decoration: none;
}

.icon {
    width: 2rem;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.container {
    max-width: 120rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    margin: 1.6rem;
    max-width: 25rem;
    background-color: #fff;
    border-radius: .8rem;
    transition: all .5s;
}

.card:hover {
    transform: scale(1.02);
}

.card__header {
    display: flex;
}

.card__header-img {
    width: 5rem;
    height: 5rem;
    margin: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.card__header-img img {
    max-width: 100%;
    height: auto;
    object-fit:cover;
}

.card__header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__header-username {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.card__header-time {
    opacity: .7;
    font-size: 1.4rem;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.card__icon-wrap {
    margin: .8rem 0;
    display: flex;
    justify-content: flex-end;
}

.card__icon-wrap * {
    margin-right: 10px;
    cursor: pointer;
}

.card__content {
    padding: 0 1rem;
}

.card__title-wrap {
    margin: 1rem 0;
}

.card__title {
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: .4rem;
}

.card__title-desc {
    font-size: 1.2rem;
    opacity: .7;
}

.card__desc {
    font-size: 1.4rem;
    min-height: 10rem;
}

.card__desc-more {
    display: none;
}

.card__footer {
    display: flex;
    margin: 1.6rem 0;
    justify-content: space-between;
    align-items: center;
}

.chevron {
    width: 1.6rem;
}

.card__button {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 1.2rem;
    background-color: inherit;
    opacity: .7;
}

.card__button:focus {
    outline: none;
}

/* modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* modal content/box */
.modal__content {
min-height: 20rem;
background-color: #fff;
margin: 15% auto;
padding: 2rem;
border: 1px solid #888;
width: 50%; 
}

.modal__title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.modal__desc {
    font-size: 1.4rem;
}

.modal__close {
color: #aaa;
float: right;
font-size: 2.8rem;
font-weight: bold;
}

.modal__close:hover,
.modal__close:focus {
color: #333;
text-decoration: none;
cursor: pointer;
}